/*
    naam: Renzo Vanmel 1TIN e
*/

/*
Hint:
    (1) Omzetten naar hoofdletters:
            text-transform: uppercase;
    (2) Schaduw in figcaption
            text-shadow: 2px 2px 2px black;
    (3) Eerste 3 lijnen tonen van de paragrafen
            line-height:1em;
	        height:3em;
    (4) Herschaling van de figuren
            aspect-ratio: 400 / 225;
        s    object-fit:cover;
*/

* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    width: 1200px;
    margin: 0 auto;
}

nav {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 250px;
    font-size: 1.4em;
    background-color: white;
    border: 2px solid Orange;
    border-radius: 10px;
    z-index: 999;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav li {
    height: 35px;
    padding-inline: 10px;
    display: flex;
    align-items: center;
}

nav li a {
    text-decoration: none;
    color: black;
}

.titel-natuur {
    background-color: orange;
}

.titel-natuur a {
    color: white;
    text-transform: uppercase;
}

.titel-natuur span{
    display: none;
}

nav ul li input[type="text"] {
    width: 100px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

nav li img {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    aspect-ratio: 400 / 225;
    object-fit:cover;
}

header {
    text-transform: uppercase;
    border-bottom: 2px solid orange;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 3em;
    margin: 0;
    display: flex;
    align-items: center;
}

header h2 {
    font-size: 2em;
    margin: 0;
    margin-top: 10px;
    padding-left: 0.5em;
    border-left: 15px solid orange;
    display: flex;
    align-items: center;
}

.article1 p,
.article2 p,
.article3 p,
.article4 p,
.article5 p,
.article6 p {
    line-height: 1em;
    height: 3em;
    overflow: hidden;
}

.container-top {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 10px;
}

.container-top .article1{
    grid-row: 1 / 3;
}

.container-top .article2{
    grid-column: 2 / 3;
}

.container-top .article3{
    grid-column: 2 / 3;
}

.container-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 50px;
}

figure {
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 0;
}

figure img {
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 400 / 225;
    object-fit: cover;
}

figcaption {
    color: white;
    text-shadow: 2px 2px 2px black;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: orange;
    padding: 10px 0;
    margin: 0;
    color: white;
    text-align: center;
    z-index: 999;
}

@media screen and (max-width: 1600px) {
    body {
        width: 80%;
    }

    footer {
        display: none;
    }

    nav {
        position: static;
        border: none;
        list-style: none;
        top: 0;
        right: 0;
        width: 100%;
        border-radius: 0;
    }

    nav ul {
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    nav li {
        margin: 0;
        margin-right: 10px;
        padding: 10px;
    }

    nav li:last-child {
        margin-left: auto;
        margin-right: 0;
    }

    .titel-natuur span {
        display: inline;
    }

    nav img {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    nav {
        border-bottom: 2px solid orange;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        justify-content: center;
    }

    nav li:last-child {
        display: none;
    }

    header {
        display: none;
    }

    figcaption {
        display: none;
    }

    .container-top {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }

    .container-top .article1,
    .container-top .article2,
    .container-top .article3
    {
        grid-column: auto;
    }
}

@media screen and (max-width: 900px) {
    .container-top,
    .container-bottom {
        grid-template-columns: 1fr;
    }

    article p {
        display: none;
    }
}

@media screen and (min-width: 1201px) {
    .nummer-1 figure {
        width: 40%;
        margin: 0;
        margin-right: 15px;
        margin-bottom: 5px;
        height: auto;
        float: left;
    }

    .nummer-1 figure img{
        margin: 0;
        aspect-ratio: auto;
    }

    .article1 p {
        display: inline;
        margin: 0;
        padding: 0;
        height: auto;
    }
}