/* 
    naam: Renzo Vanmal
*/
body {
    font-family: Arial, sans-serif;
}

table {
    width: 600px;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #4D6D8F;
    color: white;
    font-family: monospace;
    border-bottom: 3px solid black;
}

th[colspan="2"] {
    background-color: #4D6D8F;
    color: white;
}

thead th {
    border-bottom: 3px solid black;
}

tbody th {
    background-color: #FEFF63;
}

tbody tr:nth-child(even) {
    background-color: white;
}

img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid #ccc;
    object-fit: cover;
}

/*
    blauw = #4D6D8F;
    geel =  #FEFF63;
*/


